/**************** Start Common CSS ****************/
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px; }

.section_padding {
  padding: 140px 0px; }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .section_padding {
      padding: 80px 0px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .section_padding {
      padding: 70px 0px; } }
  @media (max-width: 576px) {
    .section_padding {
      padding: 70px 0px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .section_padding {
      padding: 70px 0px; } }

.btn_1 {
  display: inline-block;
  padding: 13.5px 45px;
  background-color: #DB670E;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  border: 1px solid transparent; }
  .btn_1:hover {
    color: #fff !important;
    background-color: #de7626; }
  @media (max-width: 576px) {
    .btn_1 {
      padding: 10px 30px;
      margin-top: 25px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .btn_1 {
      padding: 10px 30px;
      margin-top: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .btn_1 {
      padding: 10px 30px;
      margin-top: 30px; } }

.btn_2 {
  margin: auto;
  display: inline-block;
  padding: 9.5px 40px;
  background-color: #DB670E;
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  border: 1px solid transparent;
  font-weight: 600; }
  .btn_2:hover {
    color: #fff !important;
    background-color: #de7626; }
  @media (max-width: 576px) {
    .btn_2 {
      padding: 10px 30px;
      margin-top: 25px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .btn_2 {
      padding: 10px 30px;
      margin-top: 30px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .btn_2 {
      padding: 10px 30px;
      margin-top: 30px; } }

.btn-link {
  color: #094E99;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  display: inline-block;
  text-decoration: none !important;
  transition: all 0.6s ease 0s; }
  .btn-link:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background-color: #e8e9eb;
    transition: all 0.6s ease 0s; }
  .btn-link:hover {
    color: #DB670E; }
    .btn-link:hover:after {
      left: 15px;
      background-color: #DB670E; }

/**************Start Menu Part*****************/
.main_menu {
  position: fixed;
  z-index: 9999 !important;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
  top: 0; }
  .main_menu .navbar-brand {
    padding: 0rem !important; }
    @media (max-width: 991px) {
      .main_menu .navbar-brand img {
        max-width: 160px; } }
  .main_menu .navbar {
    padding: 20px 0px; }
  .main_menu .navbar-toggler span {
    font-size: 30px; }
  .main_menu .main-menu-item {
    text-align: right;
    justify-content: right; }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .main_menu .main-menu-item {
        padding-left: 25px; } }
    .main_menu .main-menu-item ul li .nav-link {
      color: #094E99;
      font-size: 15px;
      padding: 0px 15px;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      text-transform: capitalize; }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .main_menu .main-menu-item ul li .nav-link {
          padding: 0px 16px; } }
      .main_menu .main-menu-item ul li .nav-link:hover {
        color: #DB670E; }

@media (max-width: 991px) {
  .single_page_menu .navbar-collapse ul li .nav-link {
    color: #094E99 !important; }
  .navbar-light .navbar-toggler {
    border-color: transparent; }
  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 71px;
    width: 100%;
    background-color: #fff;
    text-align: center !important; }
  .main_menu .main-menu-item {
    text-align: left !important; }
    .main_menu .main-menu-item .nav-item {
      padding: 5px 15px !important; }
      .main_menu .main-menu-item .nav-item a {
        padding: 5px 15px !important; }
  .navbar-nav {
    align-items: center !important; } }

/**************** Start Banner Part ****************/
.banner_part {
  height: 800px;
  position: relative;
  overflow: hidden;
  background-image: url(../../assets/img/hero.png);
  background-repeat: no-repeat;
  background-position: center; }
  @media (max-width: 991px) {
    .banner_part {
      height: 750px;
      background-position: 65% center; } }
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .banner_part {
      height: 650px; } }
  .banner_part .banner_text {
    display: table;
    width: 100%;
    height: 800px;
    font-family: "Montserrat", sans-serif;
    color: #fff; }
    .banner_part .banner_text .banner_text_iner {
      display: table-cell;
      vertical-align: middle; }
      @media (max-width: 991px) {
        .banner_part .banner_text .banner_text_iner {
          vertical-align: middle;
          margin: auto; } }
    @media (max-width: 991px) {
      .banner_part .banner_text {
        text-align: center;
        padding-top: 0px;
        height: 650px; } }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .banner_part .banner_text {
        height: 650px; } }
    .banner_part .banner_text h1 {
      font-size: 45px;
      text-transform: capitalize;
      font-weight: 700;
      margin-bottom: 27px;
      line-height: 75px;
      font-weight: 600; }
      @media (max-width: 991px) {
        .banner_part .banner_text h1 {
          font-size: 30px;
          margin-bottom: 15px;
          line-height: 1.3; } }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .banner_part .banner_text h1 {
          font-size: 35px;
          margin-bottom: 15px;
          line-height: 1.4; } }
    .banner_part .banner_text p {
      font-size: 20px;
      line-height: 1.6;
      width: 50%;
      font-weight: 300; }
      @media (max-width: 991px) {
        .banner_part .banner_text p {
          margin-top: 30px;
          margin-bottom: 15px;
          line-height: 1.4;
          width: 100%; } }
      @media only screen and (min-width: 992px) and (max-width: 1200px) {
        .banner_part .banner_text p {
          margin-bottom: 15px;
          line-height: 1.5;
          width: 100%; } }
    .banner_part .banner_text .btn_1 {
      margin-top: 44px;
      font-weight: 600; }

/**************** End Banner Part ****************/
.about_part_text h2 {
  color: #1A1B1E;
  font-size: 35px;
  font-weight: 500;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 65px; }
  .about_part_text h2:after {
    content: "";
    position: absolute;
    top: 128%;
    left: 0;
    width: 100px;
    background-color: #094E99;
    height: 4px; }
  @media (max-width: 576px) {
    .about_part_text h2 {
      font-size: 30px; }
      .about_part_text h2:after {
        width: 10%; } }

.about_part_text p {
  line-height: 1.6;
  margin-bottom: 30px;
  max-width: 772px;
  color: #757575;
  font-size: 17px; }
  @media (max-width: 576px) {
    .about_part_text p {
      font-size: 15px;
      line-height: 1.4; } }

/**************** Our Services Section ****************/
.our_service {
  background-color: #F4F4F4; }
  .our_service .section_tittle h2 {
    color: #1A1B1E;
    font-size: 35px;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 65px; }
    .our_service .section_tittle h2:after {
      content: "";
      position: absolute;
      top: 128%;
      left: 0;
      width: 100px;
      background-color: #094E99;
      height: 4px; }
    @media (max-width: 576px) {
      .our_service .section_tittle h2 {
        font-size: 30px; }
        .our_service .section_tittle h2:after {
          width: 10%; } }
  .our_service .single_feature {
    margin-top: 30px; }
  .our_service .single_service {
    padding: 30px 20px;
    background-color: #fff;
    text-align: center;
    height: 250px;
    border-radius: 10px; }
    .our_service .single_service .service-icon {
      width: 100px;
      height: 100px; }
    @media (max-width: 991px) {
      .our_service .single_service {
        padding: 25px 10px 35px;
        margin-top: 25px; } }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .our_service .single_service {
        margin-top: 25px; } }
    .our_service .single_service span {
      font-size: 50px;
      margin-bottom: 15px;
      display: inline-block;
      color: #DB670E; }
    .our_service .single_service h4 {
      font-weight: 600;
      font-size: 19px;
      margin-bottom: 30px;
      margin-top: 25px; }
      @media (max-width: 576px) {
        .our_service .single_service h4 {
          margin-bottom: 15px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .our_service .single_service h4 {
          margin-bottom: 15px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .our_service .single_service h4 {
          margin-bottom: 15px; } }
  @media (max-width: 991px) {
    .our_service .btn_3 {
      margin-top: 15px; } }

/**************** Start Sky Recrute Section ****************/
.sky_recrute_process h2 {
  color: #1A1B1E;
  font-size: 35px;
  font-weight: 500;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 65px; }
  .sky_recrute_process h2:after {
    content: "";
    position: absolute;
    top: 128%;
    left: 0;
    width: 100px;
    background-color: #094E99;
    height: 4px; }
  @media (max-width: 576px) {
    .sky_recrute_process h2 {
      font-size: 30px; }
      .sky_recrute_process h2:after {
        width: 10%; } }

.sky_recrute_process .bs-wizard {
  margin-top: 80px;
  padding: 0 0 10px 0; }
  .sky_recrute_process .bs-wizard .bs-wizard-stepnum {
    font-size: 18px; }
  .sky_recrute_process .bs-wizard h3 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 0 85px;
    margin-top: 30px;
    height: 42px; }
  .sky_recrute_process .bs-wizard .bs-wizard-info {
    padding: 0 30px;
    margin: 20px 0; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step {
    padding: 0;
    position: relative; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 16px;
    margin-bottom: 5px; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background: #fbe8aa;
    top: 45px;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    content: ' ';
    width: 14px;
    height: 14px;
    background: #fbbd19;
    border-radius: 50px;
    position: absolute;
    top: 8px;
    left: 8px; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step > .progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 20px 0; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step > .progress > .progress-bar {
    width: 0px;
    box-shadow: none;
    background: #fbe8aa; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {
    width: 100%; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {
    width: 50%; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {
    width: 0%; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {
    width: 100%; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {
    background-color: #f5f5f5; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {
    opacity: 0; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step:first-child > .progress {
    left: 50%;
    width: 50%; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step:last-child > .progress {
    width: 50%; }
  .sky_recrute_process .bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none; }

.sky_recrute_process .btn_2 {
  margin-top: 80px; }

/**************** Nos Valeur Section ****************/
.nos_valeur {
  background-color: #F4F4F4; }
  .nos_valeur .section_tittle h2 {
    color: #1A1B1E;
    font-size: 35px;
    font-weight: 500;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 65px; }
    .nos_valeur .section_tittle h2:after {
      content: "";
      position: absolute;
      top: 128%;
      left: 0;
      width: 100px;
      background-color: #094E99;
      height: 4px; }
    @media (max-width: 576px) {
      .nos_valeur .section_tittle h2 {
        font-size: 30px; }
        .nos_valeur .section_tittle h2:after {
          width: 10%; } }
  .nos_valeur .single_feature {
    margin-top: 30px; }
  .nos_valeur .single_service_valeur {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
    height: 300px;
    border-radius: 10px; }
    .nos_valeur .single_service_valeur .nos-valeur-icon {
      font-size: 40px;
      color: #094E99; }
    @media (max-width: 576px) {
      .nos_valeur .single_service_valeur {
        height: 240px; } }
    @media (max-width: 991px) {
      .nos_valeur .single_service_valeur {
        padding: 30px 35px;
        margin-top: 25px; } }
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      .nos_valeur .single_service_valeur {
        margin-top: 25px; } }
    .nos_valeur .single_service_valeur span {
      font-size: 50px;
      margin-bottom: 15px;
      display: inline-block;
      color: #DB670E; }
    .nos_valeur .single_service_valeur h4 {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 30px;
      margin-top: 25px; }
      @media (max-width: 576px) {
        .nos_valeur .single_service_valeur h4 {
          margin-bottom: 15px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .nos_valeur .single_service_valeur h4 {
          margin-bottom: 15px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .nos_valeur .single_service_valeur h4 {
          margin-bottom: 15px; } }
    .nos_valeur .single_service_valeur p {
      color: #757575;
      font-size: 17px; }
  @media (max-width: 991px) {
    .nos_valeur .btn_3 {
      margin-top: 15px; } }

.clients_part h2 {
  color: #1A1B1E;
  font-size: 35px;
  font-weight: 500;
  position: relative;
  text-transform: capitalize;
  margin-bottom: 65px; }
  .clients_part h2:after {
    content: "";
    position: absolute;
    top: 128%;
    left: 0;
    width: 100px;
    background-color: #094E99;
    height: 4px; }
  @media (max-width: 576px) {
    .clients_part h2 {
      font-size: 30px; }
      .clients_part h2:after {
        width: 10%; } }

@media (max-width: 576px) {
  .clients_part img {
    margin-bottom: 20px; } }

/**************** Footer ****************/
.footer-area {
  background-color: #094E99;
  color: #fff;
  padding: 70px 0 0; }
  .footer-area .footer_1 p {
    line-height: 1.6; }
  .footer-area .footer_2 h4 {
    font-size: 14px;
    font-weight: 700;
    margin: 0; }
  .footer-area .footer_2 form {
    margin: 8px 0; }
  .footer-area .footer_2 ::placeholder {
    font-size: 14px; }
  .footer-area .footer_2 .input-group-btn .btn-theme {
    background-color: #DB670E;
    color: #fff;
    font-weight: 500;
    border-radius: 0 5px 5px 0; }
    .footer-area .footer_2 .input-group-btn .btn-theme:hover {
      background-color: #de7626; }
  .footer-area .footer_2 span a i {
    font-size: 23px;
    margin-right: 2.5px;
    text-decoration: none;
    color: #fff; }
    .footer-area .footer_2 span a i:hover {
      color: #de7626; }
  .footer-area .footer_2 .social-media {
    margin-top: 4px; }
  .footer-area .copyright_part_text {
    background-color: #052951;
    margin-top: 30px;
    padding: 10px 0;
    width: 100%; }

#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 99999; }

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none; }

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1; }

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round; }

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px; } }
