.about_part_text {

   h2 {
      color: $heading_color;
      font-size: 35px;
      font-weight: 500;
      position: relative;
      text-transform: capitalize;
      margin-bottom: 65px;

      &:after {
         content: "";
         position: absolute;
         top: 128%;
         left: 0;
         width: 100px;
         background-color: #094E99;
         height: 4px;
      }

      @media #{$small_mobile} {
         font-size: 30px;

         &:after {
            width: 10%;
         }
      }
   }

   p {
      line-height: 1.6;
      margin-bottom: 30px;
      max-width: 772px;
      color: $p_color;
      font-size: 17px;


      @media #{$small_mobile} {
         font-size: 15px;
         line-height: 1.4;
      }

      @media #{$large_mobile} {}

      @media #{$tab_device} {}

      @media #{$medium_device} {}
   }
}