/**************** Start Banner Part ****************/
.banner_part {
   height: 800px;
   position: relative;
   overflow: hidden;
   background-image: url(../../assets/img/hero.png);
   background-repeat: no-repeat;
   background-position: center;
    
   @media #{$tab} {
      height: 750px;
      background-position: 65% center;
   }

   @media #{$medium_device} {
      height: 650px;
   }

   .banner_text {
      display: table;
      width: 100%;
      height: 800px;
      font-family: $font_stack;
      color: $white_color;

      .banner_text_iner {
         display: table-cell;
         vertical-align: middle;

         @media #{$tab} {
            vertical-align: middle;
            margin: auto;
         }

      }

      @media #{$tab} {
         text-align: center;
         padding-top: 0px;
         height: 650px;
      }

      @media #{$medium_device} {
         height: 650px;
      }

      h1 {
         font-size: 45px;
         text-transform: capitalize;
         font-weight: 700;
         margin-bottom: 27px;
         line-height: 75px;
         font-weight: 600;

         @media #{$tab} {
            font-size: 30px;
            margin-bottom: 15px;
            line-height: 1.3;
         }

         @media #{$medium_device} {
            font-size: 35px;
            margin-bottom: 15px;
            line-height: 1.4;
         }
      }

      p {
         font-size: 20px;
         line-height: 1.6;
         width: 50%;
         font-weight: 300;

         @media #{$tab} {
            margin-top: 30px;
            margin-bottom: 15px;
            line-height: 1.4;
            width: 100%;
         }

         @media #{$medium_device} {
            
            margin-bottom: 15px;
            line-height: 1.5;
            width: 100%;
         }
      }

      .btn_1 {
         margin-top: 44px;
         font-weight: 600;
      }
   }
}

/**************** End Banner Part ****************/