.btn_1{
	display: inline-block;
	padding: 13.5px 45px;
	background-color: $btn_bg;
	font-size: 14px;
	color: $white_color;
	text-transform: capitalize;
	border: 1px solid transparent;
	&:hover{
		color: $white_color !important;
		background-color: $btn_hover;
	}
	@media #{$small_mobile}{
		padding: 10px 30px;
		margin-top: 25px;
	}
	@media #{$large_mobile}{
		padding: 10px 30px;
		margin-top: 30px;
	}
	@media #{$tab_device}{
		padding: 10px 30px;
		margin-top: 30px;
	}
	@media #{$medium_device}{
	
	}
}

.btn_2{
	margin: auto;
	display: inline-block;
	padding: 9.5px 40px;
	background-color: $btn_bg;
	font-size: 14px;
	color: $white_color;
	text-transform: capitalize;
	border: 1px solid transparent;
	font-weight: 600;

	&:hover{
		color: $white_color !important;
		background-color: $btn_hover;
	}
	@media #{$small_mobile}{
		padding: 10px 30px;
		margin-top: 25px;
	}
	@media #{$large_mobile}{
		padding: 10px 30px;
		margin-top: 30px;
	}
	@media #{$tab_device}{
		padding: 10px 30px;
		margin-top: 30px;
	}
	@media #{$medium_device}{
	
	}

}

.btn-link{
	color: #094E99;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: 600;
	position: relative;
	display: inline-block;
	text-decoration: none !important;
	transition: all 0.6s ease 0s;
	
	&:after{
		position: absolute;
		content: "";
		left: 0;
		bottom: -8px;
		width: 100%;
		height: 2px;
		background-color: #e8e9eb;
		transition: all 0.6s ease 0s;
	}
	&:hover{
		color: $btn_bg;
		&:after{
			left: 15px;
			background-color: $btn_bg;
		}
	}
}