/**************** Start Common CSS ****************/
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

body {
   font-family: $font_stack;
   padding: 0;
   margin: 0;
   font-size: 14px;
}

.section_padding {
   padding: 140px 0px;

   @media #{$medium_device} {
      padding: 80px 0px;
   }

   @media #{$tab_device} {
      padding: 70px 0px;
   }

   @media #{$small_mobile} {
      padding: 70px 0px;
   }

   @media #{$large_mobile} {
      padding: 70px 0px;
   }
}