/**************** Footer ****************/
.footer-area {
   background-color: #094E99;
   color: $white-color;
   padding: 70px 0 0;

   .footer_1 p {
      line-height: 1.6;
   }

   .footer_2 {
      h4 {
         font-size: 14px;
         font-weight: 700;
         margin: 0;
      }

      & form {
         margin: 8px 0;
      }

      & ::placeholder {
         font-size: 14px;
      }

      & .input-group-btn .btn-theme {
         background-color: $btn_bg;
         color: $white-color;
         font-weight: 500;
         border-radius: 0 5px 5px 0;
         
         &:hover {
            background-color: $btn_hover;
         }
      }

      span a i {
         font-size: 23px;
         margin-right: 2.5px;
         text-decoration: none;
         color: $white-color;

         &:hover {
            color: $btn_hover;
         }
      }

      .social-media {
         margin-top: 4px;
      }
   }

   .copyright_part_text {
      background-color: #052951;
      margin-top: 30px;
      padding: 10px 0;
      width: 100%;
   }
}