/**************Start Menu Part*****************/
.main_menu {
	position: fixed;
	z-index: 9999 !important;
	width: 100%;
	background-color: $white-color;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
	top: 0;

	.navbar-brand {
		padding: 0rem !important;
		@media #{$tab}{
			img{
				max-width: 160px;
			}
		}
		
	}

	.navbar {
		padding: 20px 0px;
	}
	.navbar-toggler{
		span{
			font-size: 30px;
		}
	}
	.main-menu-item {
		text-align: right;
		justify-content: right;
		@media #{$medium_device}{
			padding-left: 25px;
		}
		ul {
			li .nav-link{
				color: $menu_color;
				font-size: 15px;
            padding: 0px 15px;
            font-weight: 600;
				font-family: $font_stack;
				text-transform: capitalize;
				@media #{$medium_device}{
					padding: 0px 16px;
				}
				&:hover{
					color: #DB670E;
				}
				
			}
			
		}
	}
}

@media #{$tab} {
	.single_page_menu{
		.navbar-collapse{
			ul {
				li .nav-link{
					color: $menu_color !important;
					
				}
			}
		}
	}

	.navbar-light .navbar-toggler{
		border-color: transparent;
	}
	.navbar-collapse {
		z-index: 9999 !important;
		position: absolute;
		left: 0;
		top: 71px;
		width: 100%;
		background-color: $white_color;
		text-align: center !important;
		
	}
	.main_menu .main-menu-item{
      text-align: left !important;
      
		.nav-item{
			padding: 5px 15px !important;
			a{
				padding: 5px 15px !important;
			}
		}
	}
	.navbar-nav{
		align-items: center !important;
	}
}