/**************** Nos Valeur Section ****************/
.nos_valeur {
   background-color: #F4F4F4;

   .section_tittle {

      h2 {
         color: $heading_color;
         font-size: 35px;
         font-weight: 500;
         position: relative;
         text-transform: capitalize;
         margin-bottom: 65px;
   
         &:after {
            content: "";
            position: absolute;
            top: 128%;
            left: 0;
            width: 100px;
            background-color: #094E99;
            height: 4px;
         }
   
         @media #{$small_mobile} {
            font-size: 30px;
   
            &:after {
               width: 10%;
            }
         }
      }
   }

   

   .single_feature {
      margin-top: 30px;
   }
   

   .single_service_valeur {
      padding: 40px 20px;
      background-color: $white_color;
      text-align: center;
      height: 300px;
      border-radius: 10px;      

      .nos-valeur-icon {
         font-size: 40px;
         color: #094E99;
      }

      @media #{$small_mobile} {
         
         height: 240px;
         
      }

      @media #{$tab} {
         padding: 30px 35px;
         margin-top: 25px;
      }

      @media #{$medium_device} {
         margin-top: 25px;

      }


      span {
         font-size: 50px;
         margin-bottom: 15px;
         display: inline-block;
         color: $btn_bg;
      }

      h4 {
         font-weight: 600;
         font-size: 18px;
         margin-bottom: 30px;
         margin-top: 25px;

         @media #{$small_mobile} {
            margin-bottom: 15px;
         }

         @media #{$large_mobile} {
            margin-bottom: 15px;
         }

         @media #{$tab_device} {
            margin-bottom: 15px;
         }

         @media #{$medium_device} {}
      }

      p {
         color: $p_color;
         font-size: 17px;
         // line-height: 1.7;
      }
   }

   .btn_3 {
      // margin-top: 38px;
      // text-decoration: none;
      
      // font-weight: 600;
      // font-size: 15px;

      @media #{$tab} {
         margin-top: 15px;
      }
   }
}




   
