.clients_part {

   h2 {
      color: $heading_color;
      font-size: 35px;
      font-weight: 500;
      position: relative;
      text-transform: capitalize;
      margin-bottom: 65px;

      &:after {
         content: "";
         position: absolute;
         top: 128%;
         left: 0;
         width: 100px;
         background-color: #094E99;
         height: 4px;
      }

      @media #{$small_mobile} {
         font-size: 30px;

         &:after {
            width: 10%;
         }
      }
   }

   img {
      @media #{$small_mobile} {
         margin-bottom: 20px;
      }
   }
}