/**************** Start Sky Recrute Section ****************/
.sky_recrute_process {

   h2 {
      color: $heading_color;
      font-size: 35px;
      font-weight: 500;
      position: relative;
      text-transform: capitalize;
      margin-bottom: 65px;

      &:after {
         content: "";
         position: absolute;
         top: 128%;
         left: 0;
         width: 100px;
         background-color: #094E99;
         height: 4px;
      }

      @media #{$small_mobile} {
         font-size: 30px;

         &:after {
            width: 10%;
         }
      }
   }

   .bs-wizard {
      margin-top: 80px;
      padding: 0 0 10px 0;

      .bs-wizard-stepnum {
         font-size: 18px;
      }

      h3 {
         font-size: 18px;
         font-weight: 500;
         text-align: center;
         padding: 0 85px;
         margin-top: 30px;
         height: 42px;
      }

      .bs-wizard-info {
         padding: 0 30px;
         margin: 20px 0;
      }

      &>.bs-wizard-step {
         padding: 0;
         position: relative;
      }

      &>.bs-wizard-step+.bs-wizard-step {}

      &>.bs-wizard-step .bs-wizard-stepnum {
         color: #595959;
         font-size: 16px;
         margin-bottom: 5px;
      }

      &>.bs-wizard-step .bs-wizard-info {
         color: #999;
         font-size: 14px;
      }

      &>.bs-wizard-step>.bs-wizard-dot {
         position: absolute;
         width: 30px;
         height: 30px;
         display: block;
         background: #fbe8aa;
         top: 45px;
         left: 50%;
         margin-top: -15px;
         margin-left: -15px;
         border-radius: 50%;
      }

      &>.bs-wizard-step>.bs-wizard-dot:after {
         content: ' ';
         width: 14px;
         height: 14px;
         background: #fbbd19;
         border-radius: 50px;
         position: absolute;
         top: 8px;
         left: 8px;
      }

      &>.bs-wizard-step>.progress {
         position: relative;
         border-radius: 0px;
         height: 8px;
         box-shadow: none;
         margin: 20px 0;
      }

      &>.bs-wizard-step>.progress>.progress-bar {
         width: 0px;
         box-shadow: none;
         background: #fbe8aa;
      }

      &>.bs-wizard-step.complete>.progress>.progress-bar {
         width: 100%;
      }

      &>.bs-wizard-step.active>.progress>.progress-bar {
         width: 50%;
      }

      &>.bs-wizard-step:first-child.active>.progress>.progress-bar {
         width: 0%;
      }

      &>.bs-wizard-step:last-child.active>.progress>.progress-bar {
         width: 100%;
      }

      &>.bs-wizard-step.disabled>.bs-wizard-dot {
         background-color: #f5f5f5;
      }

      &>.bs-wizard-step.disabled>.bs-wizard-dot:after {
         opacity: 0;
      }

      &>.bs-wizard-step:first-child>.progress {
         left: 50%;
         width: 50%;
      }

      &>.bs-wizard-step:last-child>.progress {
         width: 50%;
      }

      &>.bs-wizard-step.disabled a.bs-wizard-dot {
         pointer-events: none;
      }
   }

   .btn_2 {
      margin-top: 80px;
   }
}


