$font_stack: 'Montserrat', sans-serif;

$white_color: #fff;
$black_color: #000;
$menu_color: #094E99;





$btn_bg: #DB670E;
$btn_hover: #de7626;

$section_bg: #F4F4F4;

$heading_color: #1A1B1E;
$heading_color2: #094E99;
$p_color: #757575;



$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab:'(max-width: 991px)';
$small_mobile:'(max-width: 576px)';
$xs_mobile:'(max-width: 420px)';
$sm_mobile:'only screen and (min-width: 421px) and (max-width: 575px)';
$big_screen:'only screen and (min-width: 1200px) and (max-width: 1440px)';
$extra_big_screen: 'only screen and (min-width: 1200px) and (max-width: 3640px)';